

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

main {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 320px;
    box-shadow: 0 2.5rem 2rem hsl(0, 0%, 85%);
}

main img {
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}

main h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 1rem 0;
    font-weight: 700;
}

main p {
    color: hsl(220, 15%, 55%);
    font-size: 0.95rem;
    text-align: center;
    margin: 0;
    line-height: 1.6;
}


